.details-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 22vh;
    height: 135vh;
}

.image-name-description-wrapper {
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #054a57;
}

.details-name {
    color: #054a57;
    font-family: 'League Gothic', sans-serif;
    font-size: 210%;
}

.details-image {
    height: auto;
    width: 75%;
    padding: 1%;
    background-color: #054a57;
}

.other-details-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    padding: 2%;
    height: 20%;
    contain: content;
}

.details-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    text-align: center;
    color: #054a57;
    margin-bottom: 2%;
}

.details-difficulty {
    margin-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    color: #054a57;
    font-size: 130%;
}

.details-distance {
    margin-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    color: #054a57;
    font-size: 130%;
}

.details-elevation {
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #054a57;
    font-size: 130%;
}

.favorite-button {
    width: 35%;
    height: 100%;
    background-color: #054a57;
    border: 2px solid #054a57;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 92%;
    font-weight: 600;
    margin-bottom: 2%;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.favorite-button:hover {
    cursor: pointer;
    background-color: white;
    color: #054a57;
}

.favorite-button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px)
}

@media screen and (max-width:390px) {
    .image-name-description-wrapper {
        height: 70%;
        width: 80%;
    }

    .details-description {
        font-size: 95%;
        text-align: center;
    }

    .details-difficulty {
        font-size: 90%;
    }
    
    .details-distance {
        font-size: 90%;
    }
    
    .details-elevation {
        font-size: 90%;
    }

    .favorite-button {
        width: 60%;
        height: 60%;
        margin-top: 5%;
        font-size: 65%;
    }
}
