.details-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 15%;
}

.image-name-description-wrapper {
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #054a57;
}

.details-name {
    color: #054a57;
    font-family: 'League Gothic', sans-serif;
    font-size: 2.2em;
}

.details-image {
    height: 36em;
    width: 36em;
    padding: 1%;
    background-color: #054a57;
}

.details-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.30em;
    text-align: center;
    color: #054a57;
    margin-top: 2%;
}

.other-details-wrapper {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: center;
    padding: 2%;
}

.details-difficulty {
    margin-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    color: #054a57;
    font-size: 1.25em;
}

.details-distance {
    margin-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    color: #054a57;
    font-size: 1.25em;
}

.details-elevation {
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #054a57;
    font-size: 1.25em;
}

.favorite-button {
    width: 18em;
    height: 3em;
    appearance: none;
    background-color: #054a57;
    border: 2px solid #054a57;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2%;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;

    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.favorite-button:hover {
    cursor: pointer;
    background-color: white;
    color: #054a57;
}

.favorite-button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px)
}

@media (max-width:600px) {

    .specific-details-container {
        display: flex;
        flex-direction: column;
        width: 75vw;
        align-items: center;
    }

    .details-name {
        font-size: 1.6em;
        margin-bottom: 4%;
    }

    .details-image {
        height: 28em;
        width: 28em;
    }

    .details-description {
        font-size: 1.25em;
        text-align: center;
    }

    .details-difficulty,
    .details-distance,
    .details-elevation {
        font-size: 1em;
    }

}

@media only screen and (min-width:300px) and (max-width:480px) {
    .details-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80vw;
        height: 30vh;
        margin-top: 20%;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {}

@media only screen and (min-width: 769px) and (max-width:1024px) {}