.hikes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 75%;
    width: 100%;
    grid-gap: -10%;
    grid-row-gap: 8%;
    margin-top: 24em;
    justify-items: center;
}