.main-container {
    width: 100vw;
    height: 80vh;
    margin-top: 25vh;
}

.hikes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    height: 80vh;
    overflow-y: auto;
}


@media screen and (max-width:820px) {

}

@media screen and (max-width:390px) {
 .main-container {
    margin-top: 20vh;
 }
}
