.hikes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    gap: 0px;
    grid-gap: 1em;
    row-gap: 10%;
    margin-top: 20em;
    justify-items: center;
}


@media (max-width:500px) {
    .hikes-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 110%;
        width: 100%;
        justify-content: center;
    }

}

