.hike-card {
    height: 25em;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    border: 3px solid #054a57;
    contain: content;
    padding: 10px;
}

.hike-image {
    height: 15em;
    width: 15em;
    margin-top: -3%;
}

.hike-distance {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.hike-location {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.hike-name {
    font-family: 'League Gothic', sans-serif;
    color: #054a57;
    font-size: 1.7em;
    margin-top: 2%;
}
