.hike-card {
    height: 78%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #054a57;
    contain: content;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 5%;
}

.hike-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    -webkit-filter: brightness(0.8);
}

.hike-name-container {
    contain: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #054a57;
    width: 100%;
    height: 14%;
    position: fixed;
    top: 0;
    z-index: 5;
}

.hike-name {
    font-family: 'League Gothic', sans-serif;
    font-size: 180%;
    margin-top: 4%;
    color: white;
}

.hike-image {
    height: auto;
    max-height: 400px;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 2%;
    contain: content;
    object-fit: cover;
}

.hike-distance {
    font-family: 'Montserrat', sans-serif;
    color: #054a57;
    font-size: 105%;
    margin-bottom: 4%;
}

.hike-location {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: 'League Gothic', sans-serif;
    font-size: 180%;
    color: #054a57;
    text-align: center;
    height: 10%;
    width: 100%;
}

.location-icon {
    height: 50%;
    width: auto;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:414px) {
    .hike-card {
        height: 80%;
        width: 100vw;
    }

    .hike-name-container {
        width: 100%;
        height: 12%;
        text-align: center;
    }

    .hike-name {
        font-size: 180%;
    }

    .hike-image {
        width: 100%;
        margin-top: 10%;
    }

    .hike-distance {
        font-size: 120%;
    }

    .hike-location {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 180%;
        height: 10%;
        width: 100%;
        margin-bottom: 10%;
    }

    .location-icon {
        height: 55%;
        width: auto;
        margin-bottom: 1%;
    }
}