.hike-card {
    height: 30em;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    border: 3px solid #054a57;
    contain: content;
    padding: 12px;
    justify-content: space-around;
}

.hike-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    -webkit-filter: brightness(0.8);
}

.hike-image {
    height: 22em;
    width: 22em;
    /* margin-top: -3%;
    margin-bottom: 3%; */
}

.hike-distance {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #054a57;
}

.hike-location {
    font-family: 'League Gothic', sans-serif;
    font-size: 1.5em;
    color: #054a57;
}

.location-icon {
    height: 1.5em;
    width: 1.5em;
    display: inline;
}

.hike-name {
    font-family: 'League Gothic', sans-serif;
    color: #054a57;
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 3%;
}
