.favorites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    height: 80vh;
    overflow-y: auto;
}

.favorites-title-container {
    display: flex;
    width: 100vw;
    height: 10vh;
    flex-direction: column;
    content: contain;
    align-items: center;
}

.title {
    color: #054a57;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.fav-error {
    font-family: 'League Gothic', sans-serif;
    font-size: 200%;
    color: #054a57;
}

@media screen and (max-width:390px) {
    .favorites-container {
        width: 100vw;
        height: 100vh;
        padding: 2px;
    }

    .favorites-title-container {
        margin-top: 40%;
    }
}