
.favorites-title-container {
    display: flex;
    width: 100vw;
    height: 15vh;
    margin-top: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    color: #054a57;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.favorites-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 85vh;
    width: 100vw;
    gap: 0px;
    grid-gap: 1em;
    row-gap: 10%;
    justify-items: center;
    margin-bottom: 2%;
}

.fav-error {
    font-family: 'League Gothic', sans-serif;
    font-size: 4em;
}
