.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: #d3d3d3;
    background-color: #9BB7BB;
    /* background-color: #bf9000; */
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 15em;
    margin-bottom: 25%;
    align-items: center;
}

.logo {
    width: auto;
    height: 20em;
    margin-top: .5%;
    margin-left: 1%;
}