.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    background-color: hsl(0deg 0% 100%);
    width: 100vw;
    height: 24vh;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}

.logo {
    width: auto;
    height: 14em;
    margin-top: 15%;
}

.view-favorites, .view-hikes {
  appearance: none;
  background-color: transparent;
  border: 2px solid #054a57;;
  /* box-sizing: border-box; */
  color: #054a57;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;

  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

/* .button-28:disabled {
  pointer-events: none;
} */

.view-favorites:hover, .view-hikes:hover {
  color: #fff;
  background-color: #054a57;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.view-favorites:active, .view-hikes:active {
  box-shadow: none;
  transform: translateY(0);
}

/* .view-hikes:hover, .view-favorites:hover {
    cursor: pointer;
    background-color:  #054a57;
    color: white;
}

.view-hikes:hover, .view-favorites:hover {
    box-shadow: 0 2px #666;
    transform: translateY(4px)
} */

@media (max-width:768px) {
   

    .logo {
        margin-top: 5%;
        width: auto;
        height: 10em;
    }

    .view-hikes {
        width: 10em;
        height: 2em;
        margin-top: 2%;

    }

    .view-favorites {
        width: 10em;
        height: 2em;
        margin-top: 2%;
    }
}

@media only screen and (min-width:300px) and (max-width:480px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        height: 40vh;
    }
}
